<html>
    <% include header %>
  <h1>Wallet Info</h1>
  Account
  <form method="post" action="/walletInfo">
      <input type="text" name="account">
      <input type="submit" value="Search">
  </form>
  <hr>
  <div class="form-group">
        <label for="Balance">Balance</label>
        <input type="text" class="form-control" placeholder="balance" value="<%= balance %>" aria-describedby="basic-addon1">

      </div>
    <div class="form-group">
        <label for="Balance">totalReceived</label>
        <input type="text" class="form-control" id="totalReceived" aria-describedby="totalReceived" placeholder="totalReceived" value="<%= totalReceived %>" >
    
    </div>
    <div class="form-group">
        <label for="totalSent">totalSent</label>
        <input type="text" class="form-control" id="totalSent" aria-describedby="totalSent" placeholder="totalSent" value="<%= totalSent %>" >
        
    </div>
</html>