<html>
    <% include header %>
  <h1>Brain</h1>
  Create brain wallet
  <form method="post" action="/wallet">
      <input type="text" name="brainsrc">
      <input type="submit" value="Create">
  </form>
</html>