<head>
    <title> <%= lastPrice %></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-novkfxI48G9YvcamVHf01KL+Sm6JFherxeJKqUdbez8EoEsAued2k/cD43lYG+B1" crossorigin="anonymous">
</head>

<a href="/" class="btn btn-primary">Home</a>
<a href="/wallet" class="btn btn-primary">Wallet</a>
<a href="/converter" class="btn btn-primary">Converter</a>