<html>
        <% include header %>
Create Brain wallet-ejs
<br>price : $ <%= lastPrice %>
<form method="post" action ="wallet">
    <input type="text" name ="brainsrc">
    <input type="submit" value="Go">
</form>  
</html>