<head>
        <title><%= lastPrice %></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<h1>My Bitcoin Site</h1>
<div>
    <a href="/" class="btn btn-primay">Home</a>
    <a href="/brain" class="btn btn-primay">Brain Wallet</a>
    <a href="/converter" class="btn btn-primay">Converter</a>
    <a href="/walletInfo" class="btn btn-primay">Wallet Info</a>
</div>